@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@media (max-width: 420px) {
  .xs-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.active {
  @apply bg-blue-50 text-blue-600 font-semibold;
}

@theme {
  --color-primary: #ffffff;
  --color-primary1: #363738;
  --color-secondary: #f5f5f5;
  --color-secondary1: #fefaf1;
  --color-bg: #ffffff;
  --color-text: #fafafa;
  --color-text1: #7d8184;
  --color-text2: #000000;
  --color-btn: #000000;
  --color-secondary2: #db4444;
  --color-btn1: #00ff66;
  --color-btn2: #db4444;
  --color-hover-btn: #a0bce0;
  --color-hover-btn1: #00df59;
  --color-hover-btn2: #e42c2c;
}
